div{
	display: inline-block;
	width: 45% ; 
}

ul{
	list-style-type: upper-roman;
}
ol {
	list-style-type: square;
}

ol,ul {
	list-style-image: 
}

a{
	display: block;
	width:30% ; 
	padding: 5px ; 
	text-align: center;
	text-decoration :none;
	margin-top:3px ; 
	margin: 0 auto ;

}
a:hover {
	color: #000000; 
	background-color: #b3b3b3 ; 
}
a:focus{
	color: #000000; 
	background-color: #b3b3b3 ; 	
}
a:visited {
	border: solid color:blue; 
}